
@font-face {
    font-family: other;
    src: url('../fonts/Messing About.ttf');
}

.falco {
	background-image: url('../img/falco2.png');
}

.falco:hover {
	background-image: url('../img/falco1.png');
}

.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-bandwidth {
	background-color: #ffffff;
	opacity: 1;
	color: #000000;
}

.navText{
	font-family: coffee;
	color: #000000;
	font-size: 15px;
	font-style: italic;
}

.dropdown:hover .dropdown-menu {
	display: block;    
}

#wrapper {
     width: 100;
     margin: 0 auto;
     height: 100%;
}
#bioView, #blogView {
	font-family: 'Helvetica';
    float: left;
    min-height: 450px;
    color: #a0a0a0;
    padding: 10px;
    margin: 0;
    /*width: 100%;*/
}
#bioView {
	
	min-width: 335px;
    width: 40%;
    background-color: transparent;
}
#bioView p{
	padding: 20px;
}
#blogView {
    /*width: 100%;*/
    min-width: 335px;
    height: 80%;
    background-color: transparent;
    overflow: hidden;
    width:75%;
}
}

.blogPost{
	border-bottom: 1px solid #444;
	width:80%;
}
.blogPost p{
	text-align: left;
	text-indent: 50px;
	padding: 20px;
}
.body{
	background-color: #000;
	z-index:'-1';
}
a{
	color:white;
}
a:hover{
	color:gray;
	cursor: auto;
	text-decoration: none;
}
h3{
	font-family: coffee;
}
h4{
	font-family: coffee;
}
.onehunned{
	height:90%;
}